html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
body {
  display: flex;
  flex-direction: row;
  background-color: #2a8c4a;
  align-items: center;
  width: 100%;
  height: 100%;
}

.responsive-check {
  position: absolute;
  top: 0;
  left: 0;
  margin: 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.responsive-check > h5 {
  font-size: min(max(1vw,10px),50px);
  color: #fff;
  text-shadow: -1px 2px 2px #143B03;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.responsive-check > img {
  margin-left: 10px;
  filter: invert();
  object-fit: contain;
  width: 3vw;
  max-width: 45px;
  min-width: 20px;
}

.message {
  margin: 0 10vw 0 10vw;
}

.message > h1, h4 {
  color: #fff;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: -1px 2px 2px #143B03;
}

.message > h1 {
  font-size: min(max(5vw,10px),65px)
}

.message > h4 {
  font-size: min(max(2.5vw,5px),40px)
}

.success-animation {
  display: flex;
  flex-grow: 1;
  position: relative;
  margin-right: 10vw;
}

.checkmark {
  position:relative;
  width: 35vw;
  max-width: 90vh;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  

}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #fff;
  fill: transparent;
  animation: stroke 1s cubic-bezier(0.65, 0, 0.45, 1) forwards;

}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
      stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
      transform: none;
  }

  50% {
      transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
      box-shadow: inset 0px 0px 0px auto #00390b;
  }
}

@keyframes scale {
100% {
  transform: scale(1);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
}

@media screen and (max-width: 480px){
body {
    flex-direction: column;
}
.success-animation {
  align-items: flex-start;
  flex-grow: 0;
  margin-top: 7vw;
  right: 0;
  width: 70vw;
  max-width: 40vh;
  display: flex;
  order: 0;
}

.checkmark {
  width: 130vw;
  max-width: 45vh;
}

.responsive-check > h5{
  font-size: 2vw;
}

.responsive-check > img{
  min-width: 3px;
  margin: 4px;
}

.message {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 4vw 0 0 0;
    order: 1;
    width: 100%;
}

.message > h1 {
    font-size: min(max(13vw,10px),12vh)
  }

.message > h4 {
  font-size: min(max(5vw,6px),6vh)
  }

.message > h1, h4 {
    margin: 1vh;
}
}